.graph-wrapper{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    margin-top:0px;
    margin-left: 200px;
    margin-right: 200px;
    height: 500px;
    align-items: center;
    background-color: turquoise;
}

.graph-header{
    margin-top:100px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.graph-div{
    align-items: center;
}
